@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "inter-var";
    src: url("/fonts/inter-var.woff2") format("woff2");
}

@font-face {
    font-family: "blair-itc-bold";
    src: url("/fonts/blair-itc-bold.otf") format("opentype");
}

@font-face {
    font-family: "blair-itc-medium";
    src: url("/fonts/blair-itc-medium.otf") format("opentype");
}

@font-face {
    font-family: "Menlo";
    font-style: normal;
    font-weight: 400;
    src: local("Menlo"),
        url("https://fonts.cdnfonts.com/s/13494/Menlo-Regular.woff")
            format("woff");
}

:root {
    font-family: "Inter";
}

html,
body {
    overflow-x: hidden;
}

.blair {
    font-family: "blair-itc-medium";
}

@media only screen and (max-width: 780px) {
    aside {
        display: none !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

.menlo {
    font-family: "Menlo", monospace;
}

.inter-var {
    font-family: "inter-var" !important;
}

.image_gradient_parent {
    position: relative !important;
    width: fit-content !important;
}
.image_gradient_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgb(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
    );
}

.global_title {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "inter-var", sans-serif;
    font-weight: 700;
    font-variation-settings: "wght" 669;
    letter-spacing: -0.0269em;
}

.title {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "inter-var", sans-serif;
    font-weight: 700;
    font-size: 2.8125rem;
    line-height: 3.0625rem;
    font-variation-settings: "wght" 669;
    letter-spacing: -0.0269em;
}

.big_title {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "inter-var", sans-serif;
    font-weight: 700;
    line-height: 3.675rem;
    font-variation-settings: "wght" 669;
    letter-spacing: -0.0269em;
}

.text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375rem;
    font-variation-settings: "wght" 450;
    letter-spacing: 0.0005em;
}

.disabled {
    opacity: 0.4 !important;
}
